* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
}

.container {
    border: 1px solid #717377;
    border-radius: 16px;
    padding: 20px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);



}

.display {
    height: 100px;
    width: 360px;
    border: none;
    text-align: right;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 500;
    color: #000e1a;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
    color: #fff;

}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: transparent;

}

button {
    padding: 20px;
    border: 1px solid #ddd;
    color: white;
    background-color: #161515;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    width: 70px;
    height: 70px;
    margin: 10px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
}



.btn-op,
.btn-operator {
    color: rgb(255, 119, 0);
}

.btn-equal {
    background-color: rgb(255, 119, 0);
}

.btn-op:hover {
    background-color: #252b38;
}

.btn-operator:hover {
    background-color: #252b38;

}

.btn-equal:hover {
    background-color: #252b38;
}

.btn:hover {
    background-color: #252b38;
}